.titleButonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
    user-select: none;
}

.titleButonContainer h3 {
    font-weight: 500;
    font-size: 3rem;
}

.titleButtons {
    display: flex;
    gap: 15px;
}

.titleButonContainer .linkTypeOne {
    font-weight: bold;
    text-decoration: none;
    margin-top: 20px;
    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: .5rem;
    font-size: 1.1rem;
    transition: all .5s;
    border: 1px solid transparent;
}

.titleButonContainer .linkTypeOne:hover {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    transition: all .5s;
}

.titleButonContainer .linkTypeOne a:active {
    background-color: #ffffff;
    transition: all .5s;
}

.titleButonContainer .linkTypeTwo {
    font-weight: bold;
    text-decoration: none;
    margin-top: 20px;
    background-color: #ffffff;
    color: #000000;
    padding: 10px 20px;
    border-radius: .5rem;
    font-size: 1.1rem;
    transition: all .5s;
    border: 1px solid #000000;
}

.titleButonContainer .linkTypeTwo:hover {
    background-color: #000000;
    color: #ffffff;
    border: 1px solid transparent;
    transition: all .5s;
}

.titleButonContainer .linkTypeTwo:active {
    background-color: #ffffff;
    transition: all .5s;
}

@media (max-width: 750px) {
    .titleButonContainer h3 {
        text-align: center;
    }
}

@media (max-width: 630px) {
    .titleButonContainer h3 {
        font-size: 2.3rem;
        text-align: center;
    }

    .titleButonContainer a {
        font-size: 1rem;
    }
}