@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html {
  max-width: 100vw;
  font-family: "Raleway", sans-serif;

  ::selection {
    color: #ffffff;
    background: #A8121C;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.mainContainer footer {
  height: 350px;
  background-color: beige;
  margin-top: 80px;
}

.mainContainerG {
  overflow: hidden;
}